body{
  font-family:'Open-sans', sans-serif;
  font-size:17px;
  line-height:1.5em;
  margin:0;
  padding:0;
}

img{
  width:100%;
}

.container{
  margin:auto;
}

/* COMMON CLASSES */
.primary-text{
  color:#F9C58D;
}

.primary-background{
  background:#F9C58D;
}

/* HEADER */
#main-header{
  border-bottom:1px solid #F9C58D;
}

/* NAVBAR */
#navbar{
  text-transform:uppercase;
}

#navbar li{
  display:inline;
  padding-right:20px;
  list-style:none;
}

#navbar a{
  text-decoration:none;
  color:#888;
}

#navbar li.current a, #navbar a:hover{
  color:#F9C58D;
  border-bottom: 3px solid #F9C58D;
  padding-bottom:3px;
}

/* SHOWCASE */
#showcase{
  background:url('../images/background.jpeg') no-repeat center center;
  border-bottom:1px solid #F9C58D;
  margin-bottom:30px;
}

#showcase .row{
  height:600px;
}

#showcase h1{
  font-size:50px;
  margin:0;
  padding-bottom:20px;
}

#showcase p{
  color:#ccc;
  margin:0;
}

#showcase .showcase-content{
  background: #ff0f7b;
  color:#fff;
  border-radius:90px;
  padding:40px;
  opacity:0.5;
}

/* FEATURES */
#features h2{
  font-size:35px;
  margin:0;
  padding-bottom:10px;
}

#features p{
  color:#ff0f7b;
  margin:0;
  margin-bottom:40px;
}

#features .fa{
  font-size:60px;
  color:#F9C58D;
}

.pristupi{
  margin: 10px;
  padding: 15px;
  background-color: #333;
  color: #ccc;
}

/* INFO */
#info{
  padding: 20px;
  background:#333 url('../images/info-bg.jpg') no-repeat;
  color:#ff0f7b;
}

#info h2{
  font-size:35px;
  margin:0;
  padding-bottom:10px;
}

#info ul{
  list-style:none;
  padding:0;
}

#info li{
  line-height:2em;
  font-size:20px;
}

/* COMPANY */
#company{
  background:#333;
  color:#fff;
  padding:10px 0;
}

#company h4{
  text-transform:uppercase;
  margin-bottom:0;
}

#company ul{
  padding:0;
  list-style:none;
  line-height:2em;
}

#company input[type="text"]{
  padding:7px;
}

#company button{
  background:#222;
  color:#fff;
  padding:10px;
  border:0;
}

/* FOOTER */
#main-footer{
  background:#F9C58D;
  color:#fff;
}

/* PAGE */
#page{
  margin-bottom:40px;
}

/* SERVICES */
.services ul li{
  list-style:none;
  padding:10px;
}

.services ul li:nth-child(odd){
  background:#333;
  color:#fff;
}

.services ul li:nth-child(even){
  background: orangered;
  color:#fff;
}

/* CONTACT */
.contact form{
  background:#333;
  color:#fff;
  padding:20px;
}

.contact form input[type="text"]{
  width:50%;
  height:30px;
  margin-bottom:10px;
}

.contact form textarea{
  width:50%;
  height:100px;
}

.contact form button{
  width:50%;
  padding:10px 0;
  border:0;
  background:#222;
  color:#fff;
}

.contact form label{
  text-transform:uppercase;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MEDIA QUERIES */
@media(max-width:800px){
  #showcase h1{
    font-size:30px;
  }
}

@media(max-width:500px){
  #showcase .showcase-content{
    padding:40px 10px;
  }
}
